@import '../abstract/_variaveis'
.content
    width: 100%
    height: 1120px
    background-color: red
    font-family: $fonte-principal
    color: white
    display: grid
    grid-template-columns: 35% 1fr
    .container
        padding: 20px 40px
        height: 1120px
        &:first-child
            background-color: $azul-escuro
            grid-column: 1/2
            display: flex
            flex-direction: column
            align-items: center
        &:last-child
            grid-column: 2/3
            display: flex
            flex-direction: column
            align-items: center
            background-color: $cinza
            color: black
        .container__titulo
            text-align: center
            line-height: 1
            font-size: 1.27em
        .container__cargo
            font-size: .92em
            font-weight: 600
            margin: .5em 0
        .foto
            width: 180px
            height: 180px
            background-color: green
            overflow: hidden
            display: flex
            justify-content: center
            img
                height: 100%
        .container__perfil
            width: 100%
            display: flex
            flex-direction: column
            word-break: break-all
            margin: 1.5em 0
            h2
                font-size: 1.3em
            div
                display: flex
                flex-direction: column
                &:nth-child(n)
                    margin-bottom: .5em
                &:last-child
                    margin-bottom: 0
                span
                    &:first-child
                        font-size: .9em
                    &:last-child
                        font-size: 1em
        .container__software
            width: 100%
            display: flex
            flex-direction: column
            h2
                font-size: 1.3em
            ul
                list-style: none
                li
                    margin: .3em 0
                    font-size: 1.1em
        .container__idiomas
            width: 100%
            display: flex
            flex-direction: column
            margin-top: 1em
            h3
                font-size: 1.3em
            ul
                list-style: none
                li
                    margin: .3em 0
                    font-size: 1.1em
                    display: flex
                    flex-direction: column
                    row-gap: .5em
                    div
                        width: 100%
                        height: 10px
                        background-color: white
                        div
                            height: 100%
                            background-color: green
                            scale: 1.05
        .container__experiencia
            display: flex
            flex-direction: column
            width: 100%
            margin-top: 1em
            h2
                border: solid 2px black
                border-left: none
                border-right: none
                padding-bottom: .1em
                margin-bottom: .5em
            .container__experiencia__item
                display: grid
                grid-template-rows: 30px 20px 1fr
                grid-template-columns: 90px 1fr
                margin-bottom: 1.5em
                .periodo
                    grid-column: 1/2
                    grid-row: 1/3
                    align-self: center
                    text-align: center
                .cargo
                    grid-column: 2/3
                    grid-row: 1/2
                    font-size: 1.2em
                .empresa
                    grid-column: 2/3
                    grid-row: 2/3
                    font-size: .9em
                .funcoes
                    grid-column: 1/3
                    margin-left: 2em
        .container__educacao
            display: flex
            flex-direction: column
            width: 100%
            h2
                border: solid 2px black
                border-left: none
                border-right: none
                padding-bottom: .1em
                margin-bottom: .5em
            .container__educacao__item
                display: grid
                grid-template-rows: 30px 20px 1fr
                grid-template-columns: 90px 1fr
                margin-bottom: 1.5em
                .periodo
                    grid-column: 1/2
                    grid-row: 1/3
                    align-self: center
                    text-align: center
                .curso
                    grid-column: 2/3
                    grid-row: 1/2
                    font-size: 1.2em
                .instituicao
                    grid-column: 2/3
                    grid-row: 2/3
                    font-size: .9em
                .aprendizados
                    grid-column: 1/3
                    margin-left: 2em
