@import '../abstract/_variaveis'
.formulario
    display: flex
    flex-direction: column
    font-family: $fonte-formulario
    width: 90%
    margin: 0 auto
    color: black
    row-gap: .5em
    margin-top: 2em
    background-color: #F5E8DD
    padding: 1em
    h2
        text-align: center
        text-transform: uppercase
        font-size: 1.1em
        margin-bottom: .7em
    .formulario__foto
        margin: 0 auto
        width: 90%
        height: 250px
        position: relative
        background-color: red
        .formulario__foto__upload
            height: 50%
            background-color: green
            position: relative
            .formulario__foto__upload__label
                width: 100%
                height: 100%
                cursor: pointer
                display: block
                input
                    display: none
                p
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)
                    font-size: 1.6em
                    display: block
                    width: 100%
                    text-align: center
                    font-weight: bold
        .formulario__foto__tirarFoto
            position: relative
            cursor: pointer
            height: 50%
            .formulario__imagem
                position: absolute
                left: 50%
                top: 50%
                transform: translate(-50%, -50%)
                font-weight: bold
                font-size: 1.6em
            .formulario__foto__tirarFoto__camera
                width: 100%
                height: 100%
                position: absolute
                top: 0
                left: 0
                display: none
                video
                    display: flex
                    height: 100%
                .camera__botao
                    position: absolute
                    left: 50%
                    bottom: -10%
                    transform: translate(-50%, 0%)
        .formulario__foto__final
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            justify-content: center
            align-items: center
            display: none
            flex-direction: column-reverse
            overflow: hidden
            img
                width: 100%
            button
                position: absolute
                bottom: 2%
    .formulario__container_linkedin
        display: grid
        border: none
        grid-template-columns: 80% 1fr
        grid-template-rows: repeat(2, auto)
        row-gap: .5em
        .label
            grid-row: 1/2
            grid-column: 1/2
        [inputtextlinkedin]
            display: none
            grid-row: 2/3
            grid-column: 1/3
            width: 100%
            height: 25px
            outline: none
            padding-left: .5em
            margin-top: .5em
        [inputcheckboxlinkedin]
            background-color: red
            grid-row: 1/2
            grid-column: 2/3
    .formulario__container_software
        display: grid
        border: none
        grid-template-columns: 80% 1fr
        grid-template-rows: repeat(2, auto)
        row-gap: .5em
        [inputcheckboxsoftware]
            width: 20px
            height: 20px
            justify-self: center
            align-self: center
        [inputtextsoftware]
            grid-column: 1/2
            grid-row: 2/3
            display: none
        button
            grid-column: 2/3
            display: none
        .formulario__container_software_lista
            display: none
            list-style-type: none
            column-gap: .5em
            flex-wrap: wrap
    .formulario__container_idiomas
        display: grid
        border: none
        grid-template-columns: 80% 1fr
        grid-template-rows: repeat(2, auto)
        row-gap: .5em
        [inputcheckboxidioma]
            width: 20px
            height: 20px
            justify-self: center
            align-self: center
        [inputtextidioma]
            grid-column: 1/2
            grid-row: 2/3
            display: none
        [inputrangeidioma]
            grid-row: 3/4
            display: none
        button
            grid-column: 2/3
            grid-row: 2/4
            display: none
        .formulario__container_idioma_lista
            display: none
            list-style-type: none
            column-gap: .5em
    .formulario__container_certificacoes
        display: grid
        border: none
        grid-template-columns: repeat(2, 50%)
        grid-template-rows: repeat(2, auto)
        row-gap: .5em
        overflow: hidden
        width: 100%
        padding: 0 .4em
        #certificacoes
            grid-row: 1/2
            grid-column: 2/3
            margin-left: 74%
            width: 20px
            height: 20px
        [inputnomecursocertificacoes]
            grid-row: 2/3
            grid-column: 1/2
            width: 100%
            display: none
        [inputcargahorariacertificacoes]
            grid-row: 2/3
            grid-column: 2/3
            width: 100%
            display: none
        [inputinstituicaocertificacoes]
            grid-column: 1/2
            grid-row: 3/4
            width: 100%
            display: none
        [inputanocertificacoes]
            grid-row: 3/4
            grid-column: 2/3
            width: 100%
            display: none
        button
            grid-row: 4/5
            grid-column: 1/3
            display: none
        .lista__certificacoes
            width: 100%
            grid-column: 1/3
            display: flex
            flex-direction: column
            row-gap: .7em
            li
                display: grid
                grid-template-columns: repeat(2, 1fr)
                .certificacao__nomeCurso
                    grid-row: 1/2
                    grid-column: 1/2
                .certificacao__instituicao
                    grid-row: 1/2
                    grid-column: 2/3
                .certificacao__cargaHoraria
                    grid-row: 2/3
                    grid-column: 1/2
    .formulario__container__experiencia
        display: grid
        grid-template-columns: 1fr 1fr
        border: none
        input
            width: 100%
        h3
            grid-row: 1/2
            grid-column: 1/3
        button
            grid-column: 1/3
        #periodoExperiencia
            grid-row: 3/4
            grid-column: 1/3
        #atribuicoesExperiencia
            grid-row: 4/5
            grid-column: 1/3
        .lista__experiencia__item
            display: flex
            flex-direction: column
            list-style-type: none
            grid-column: 1/3
            width: 100%
            row-gap: .7em
            margin-top: .5em
            li
                display: grid
                .experiencia__cargo
                    grid-column: 1/2
                    grid-row: 1/2
                .experiencia__periodo
                    grid-column: 2/3
                    grid-row: 1/2
                .experiencia__empresa
                    grid-row: 2/3
                    grid-column: 1/3
                .experiencia__atribuicoes
                    grid-row: 3/4
                    grid-column: 1/3
    .formulario__container__formacao
        display: grid
        grid-template-columns: 1fr 1fr
        border: none
        input
            width: 100%
        h3
            grid-row: 1/2
            grid-column: 1/3
        button
            grid-column: 1/3
            grid-row: 5/6
        #periodoFormacao
            grid-row: 3/4
            grid-column: 1/3
        #detalhesFormacao
            grid-row: 4/5
            grid-column: 1/3
        .lista__formacao
            grid-row: 6/7
            grid-column: 1/3
            width: 100%
            row-gap: .7em
            display: flex
            flex-direction: column
            li
                display: grid

.formulario
    @media screen and (min-width: 768px)
        display: grid
        background-color: orange
        grid-template-columns: repeat(2, 50%)
        max-width: 768px
        h2
            grid-column: 1/3
            grid-row: 1/2
        fieldset
            align-self: center
        .nome
            grid-row: 2/3
            grid-column: 1/2
        .cargo
            grid-row: 3/4
            grid-column: 1/2
        .telefone
            grid-row: 4/5
            grid-column: 1/2
        .email
            grid-row: 5/6
            grid-column: 1/2
        .foto
            grid-column: 2/3
            grid-row: 2/6
            width: 240px
            height: 200px
        .linkedin
            max-width: 90%
        .software
            max-width: 90%
            justify-self: center
        .idiomas
            max-width: 90%
        .certificacoes
            // width: 90%
            max-width: 90%
            justify-self: center
            white-space: nowrap
        .descricao
            grid-row: 8/9
            grid-column: 1/3
        .experiencia
            grid-row: 9/10
            grid-column: 1/2
            height: 100%
            h3
                height: 50px 
            input
                height: 18px
        .formacao
            grid-row: 9/10
            grid-column: 2/3
            height: 100%
            gap: 0
            margin: 0
            padding: 0
            border: 0
            h3
                height: 50px 
            input
                height: 18px
                margin: 0
        .btn__enviar
            grid-row: 10/11
            grid-column: 1/3
            font-size: 1.5em
            font-weight: bold
            width: 50%
            justify-self: center
            padding: .5em  0